/*#9ecbff*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {

    font-family: 'Noto Sans', sans-serif;

}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 800px 100px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

/*------------------------HEADER---------------------------------------*/

.container header {
    background: url(../assets/pista.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
        "arriba"
        "abajo";
}

nav {
    grid-area: arriba;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.657);
    align-items: center;
    padding: 0 80px;
    position: fixed;
    width: 100%;
    z-index: 2;
}


.material-symbols-outlined.menu {
    display: none;
}

.opciones-menu {
    display: none;
}

.logo img {
    margin-top: 5px;
    width: 60px;
    height: 50px;
}

.barra {
    display: flex;
    gap: 50px;
}

.nav-link {
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: black;
    position: relative;
}

.nav-link::before,
.nav-link::after {
    content: "";
    border-bottom: 3px solid black;
    position: absolute;
    opacity: 0;
    transition: 0.2s;
}

.nav-link::before {
    width: 90%;
    bottom: -5px;
    right: 0;
}

.nav-link::after {
    bottom: -10px;
    left: 0;
    width: 60%;
}

.nav-link.activo::before,
.nav-link:hover::before {
    opacity: 1;
    width: 70%;
    bottom: -5px;
    right: 0;
}

.nav-link.activo::after,
.nav-link:hover::after {
    opacity: 1;
    bottom: -10px;
    left: 0;
    width: 40%;
}

.container-usuario {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-right: 30px;
}

.container-usuario span {
    font-size: 30px;
    cursor: pointer;
    margin-left: 2px;
}

.container-opciones {
    display: none;
}

.container-opciones.shown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #9ecbff;
    height: auto;
    width: auto;
    top: 42px;
    right: 23px;
    border-radius: 8px;
    color: black;
    transform: translateY(0px);
    transition: all 0.5s ease-in;
}

.container-opciones.shown:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.usuario-opciones {
    display: flex;
    align-items: center;
    width: 100%;
}

.usuario-opciones div {
    width: 250px;
    padding: 10px;
}

.usuario-opciones div p {
    font-size: 13px;
    margin-top: 7px;
}

.img-usuario {
    width: 60px;
    height: 60px;
    margin: 10px 15px 20px 15px;
}

#nombre-usuario {
    margin-bottom: 0;
    margin-top: 10px;
}

.container-lista {
    width: 150px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px 10px 10px 10px;
    transition: all 0.2s ease-in-out;
}

.container-lista span {
    font-size: 25px;
}

.container-lista a {
    text-decoration: none;
    color: black;
}

.container-lista:hover {
    transform: translateX(10px);
}

.cerrar-sesion {
    border-top: 0.5px solid rgb(150, 150, 150);
    width: 90%;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px 0px;

}

.cerrar-sesion:hover {
    background-color: rgba(100, 100, 100, 0.734);
    border-radius: 5px;
}

.header-abajo {
    grid-area: abajo;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
}

.header-abajo p {
    margin: 0;
}

.header-abajo p:first-child {
    margin-bottom: 15px;
}

/*------------------------FIN HEADER---------------------------------------*/

/*------------------------MAIN CONTENIDO---------------------------------------*/

.container main {
    background: rgba(240, 245, 246, 255);
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.seccion-eslogan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-letras {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo-eslogan {
    font-size: 30px;
    margin: 15px;
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
}

.preparado {
    font-size: 25px;
    text-align: center;
    margin: 0;
}

.seccion-tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.tarjeta1,
.tarjeta2 {
    position: relative;
    width: 500px;
    height: 430px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    transform: translateY(0px);
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.tarjeta1:hover,
.tarjeta2:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.descripcion {
    height: 500px;
    border-radius: 8px;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    background: white;
    box-shadow: 5px 5px 50px rgb(0, 0, 0, 0.5);
    border-color: none;
    position: relative;
    z-index: 0;
}

.foto-encima {
    width: 350px;
    height: 230px;
    border-radius: 8px;
    position: absolute;
    transform: translateX(+90%);
    transform: translateY(-40%);
    z-index: 1;
}


.titulo-tarjeta {
    margin-top: 170px;
}

.texto-tarjeta {
    margin: 0 45px 25px 45px;
    text-align: justify;
}


/*------------------------MAIN FIN CONTENIDO---------------------------------------*/

/*------------------------FOOTER---------------------------------------------------*/

.container footer,
.seccion-footer {
    background: rgb(178, 175, 175);
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.seccion-footer {
    width: 100vw;
}

.logo-izquierda img {
    height: 80px;
    width: 100px;
}

.politicas {
    display: flex;
    gap: 100px
}

.politicas a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.rrss a {
    text-decoration: none;
}

.rrss img {
    height: 30px;
    width: 30px;
    margin-left: 15px;
}

/*********FIN Inicio*************************/
/*********Nosotros**************************/

.n-container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 1650px 100px;
    grid-template-areas:
        "n-header n-header n-header"
        "n-main n-main n-main"
        "n-footer n-footer n-footer";
}

.n-header {
    background: url(../assets/pista.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    grid-area: n-header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
        "arriba"
        "abajo";
}

.n-main {
    background: rgba(240, 245, 246, 255);
    grid-area: n-main;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.n-seccion-tarjetas {
    width: 900px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.n-tarjeta-izq {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-right: 40px;
    background: white;
    box-shadow: 5px 5px 50px rgb(0, 0, 0, 0.5);
    border-color: none;
    border-radius: 10px;
}

.foto {
    width: 300px;
    height: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: -1px;
    margin-top: -1px;
}

.foto2 {
    width: 300px;
    height: 400px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: -1px;
    margin-top: -1px;
}

.n-seccion-tarjetas p {
    font-size: 17px;
}

.n-texto h2 {
    text-align: center;
}

.n-tarjeta-der {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-left: 40px;
    background: white;
    box-shadow: 5px 5px 50px rgb(0, 0, 0, 0.5);
    border-color: none;
    border-radius: 10px;
}

/*********************FOOTER NOSOTROS***************************/

.n-footer {
    background: rgb(178, 175, 175);
    grid-area: n-footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/***********************FIN Nosotros**************************/
/*****************Contacto***********************************/
.c-container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 700px 200px;
    grid-template-areas:
        "c-header c-header c-header"
        "c-main c-main c-main"
        "c-footer c-footer c-footer";
}

.c-header {
    background: url(../assets/pista.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    grid-area: c-header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
        "arriba"
        "abajo";
}

.c-main {
    background: rgba(240, 245, 246, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    grid-area: c-main;
}

.texto-contacto {
    font-weight: 900;
    font-size: 40px;
    color: #5ba5fa;
}

.datos-formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
}

.container-formulario {
    width: 320px;
    border-radius: 0.75rem;
    background-color: #5ba5fa;
    padding: 2rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.titulo {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.formulario {
    margin-top: 1.5rem;
}

.grupo-input {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.grupo-input label {
    display: block;
    margin-bottom: 4px;
}

.grupo-input input,
.input-textarea {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: #c0e0ff;
    padding: 0.75rem 1rem;
}

.boton {
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 100%;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.boton:hover::before {
    transform: scaleX(1);
}

.contenido-boton {
    position: relative;
    z-index: 1;
}

.boton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            #e3f709,
            #50a8ff 94.3%);
    transition: all 0.475s;
}

.datos-mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.datos-mapa p {
    margin: 0;
}

.datos-mapa div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.datos-mapa div a {
    text-decoration: none;
    color: black;
}

.icono-contacto-main {
    color: #5ba5fa;

}

.c-footer {
    background: rgb(86, 86, 86);
    grid-area: c-footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.frase-footer {
    font-size: 45px;
    margin: 5px;
    text-align: center;
}

.c-footer span {
    color: #5ba5fa;
}

.autor {
    font-size: 25px;
}

/***************FIN contacto*******************************/
/*****************Servicios********************************/
.s-container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 58px 2000px 100px;
    grid-template-areas:
        "s-header s-header s-header"
        "s-main s-main s-main"
        "s-footer s-footer s-footer";
    background: url(../assets/fondo-servicios.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.s-main {
    grid-area: s-main;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.63);

}

.s-footer {
    background: rgb(178, 175, 175);
    grid-area: s-footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.s-main section {
    background-color: rgba(240, 245, 246, 255);
    width: 900px;
    height: 600px;
    border-radius: 10px;
    margin-top: 50px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.s-tarjeta-superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.s-tarjeta-superior img {
    width: 220px;
    height: 300px;
    border-radius: 10px;
}

.s-descripcion-tarjeta h2 {
    margin-bottom: 10px;
}

.s-linea {
    height: 2px;
    width: 100px;
    background-color: #9ecbff;
}

.s-tarjeta-inferior {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.s-card {
    background-color: rgb(178, 175, 175);
    ;
    width: 190px;
    height: 170px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    gap: 15px;
}

.s-card p span {
    color: #1557a3;
    font-weight: 800;
}

.s-card p {
    margin: 0px;
}

.s-linea-vertical {
    height: 120px;
    width: 10px;
    background-color: #1557a3;
}


/**********************************************************/

@media screen and (max-width: 1300px) {
    .seccion-tarjetas {
        gap: 100px
    }
}

@media screen and (max-width: 1200px) {
    .seccion-tarjetas {
        gap: 50px
    }

    .frase-footer {
        font-size: 40px;
    }
}

@media screen and (max-width: 1100px) {

    .seccion-tarjetas {
        gap: 50px
    }

    .tarjeta1,
    .tarjeta2 {
        width: 400px;
    }

    .seccion-tarjetas p {
        font-size: 14px;
    }

    .container footer,
    .seccion-footer {
        gap: 9px;
    }

    .politicas {
        gap: 50px
    }

}

@media screen and (max-width: 1000px) {

    .n-seccion-tarjetas {
        width: 850px;
        height: 300px;
        gap: 75px;
    }

    .foto {
        width: 300px;
        height: 420px;
    }

    .foto2 {
        width: 300px;
        height: 420px;
    }

    .s-container {
        grid-template-rows: 58px 2900px 100px;
    }

    .s-main section {
        width: 675px;
        height: 898px;
    }

    .s-tarjeta-inferior {
        flex-wrap: wrap;
    }

    .izq {
        margin-right: 60px;
    }

}

@media screen and (max-width: 950px) {

    .n-container {
        grid-template-rows: 250px 1790px 100px;
    }

    .n-main {
        gap: 17px
    }

    .n-seccion-tarjetas {
        width: 700px;
        height: 300px;
        gap: 71px;
    }

    .foto {
        width: 310px;
        height: 460px;
    }

    .foto2 {
        width: 380px;
        height: 500px;
    }

    .n-seccion-tarjetas p {
        font-size: 15px;
    }

    .n-texto h2 {
        font-size: 23px;
    }

    .datos-formulario {
        gap: 58px;
    }

}

@media screen and (max-width: 900px) {

    nav {
        padding: 0 40px;
    }

    .tarjeta1,
    .tarjeta2 {
        width: 320px;
    }

    .foto-encima {
        width: 270px;
        height: 170px;
    }

    .titulo-tarjeta {
        margin-top: 130px;
        font-size: 17px;
    }

    .descripcion {
        height: 520px;
    }

    .logo-izquierda img {
        width: 80px;
        height: 65px;
    }

    .politicas {
        gap: 20px;
    }

}

@media screen and (max-width: 850px) {

    .c-container {
        grid-template-rows: 250px 1200px 200px
    }

    .datos-formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .datos-mapa iframe {
        width: 700px;
        height: 400px;
    }

    .frase-footer {
        font-size: 32px;
    }
}

@media screen and (max-width: 800px) {

    .n-container {
        grid-template-rows: 250px 2610px 100px;
    }

    .n-seccion-tarjetas {
        width: 500px;
        height: 300px;
        flex-direction: column;
        gap: 67px;
    }

    .n-tarjeta-izq {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px 0px 0px 0px;
    }

    .foto {
        width: 220px;
        height: 310px;
        border-radius: 10px;
    }

    .foto2 {
        width: 220px;
        height: 310px;
        border-radius: 10px;
    }

    .n-seccion-tarjetas p {
        font-size: 15px;
        padding: 0 20px;
        margin-bottom: 30px;
    }

    .n-texto h2 {
        font-size: 20px;
    }

    .n-tarjeta-der {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px 0px 0px 0px;
    }

    .datos-mapa iframe {
        width: 570px;
        height: 350px;
    }

    .s-container {
        grid-template-rows: 58px 3000px 100px;
    }

    .s-main section {
        width: 626px;
        height: 933px;
    }

    .s-tarjeta-inferior {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 750px) {

    nav {
        padding: 0 20px;
    }

    .barra {
        gap: 30px;
    }

    .container {
        grid-template-rows: 250px 1450px 100px;
    }

    .seccion-tarjetas {
        flex-direction: column;
        gap: 220px;
    }

    .tarjeta1,
    .tarjeta2 {
        width: 470px;
    }

    .foto-encima {
        width: 370px;
        height: 230px;
    }

    .titulo-tarjeta {
        margin-top: 170px;
        font-size: 20px;
    }

    .seccion-tarjetas p {
        font-size: 16px;
    }

    .descripcion {
        height: 500px;
    }

    .rrss img {
        margin-left: 10px;
    }

    .datos-mapa iframe {
        width: 500px;
    }

    .s-container {
        grid-template-rows: 58px 5200px 100px;
    }

    .s-main section {
        width: 473px;
        height: 1659px;
        padding-top: 40px;
    }

    .s-tarjeta-superior {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {

    .container {
        grid-template-rows: 250px 1450px 150px;
    }

    .n-container {
        grid-template-rows: 250px 2650px 150px;
    }

    .s-container {
        grid-template-rows: 58px 5200px 150px;
    }

    .politicas {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 650px) {

    .material-symbols-outlined.menu {
        display: block;
        cursor: pointer;
    }

    .opciones-menu.shown {
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: absolute;
        background-color: red;
        width: 100vW;
        height: 42vh;
        justify-content: center;
        align-items: center;
        top: 58px;
        left: -10px;
    }

    .nav-link {
        font-size: 45px;
    }

    .barra {
        display: none;
    }


    .tarjeta1,
    .tarjeta2 {
        width: 420px;
    }

    .foto-encima {
        width: 350px;
        height: 210px;
    }

    .titulo-tarjeta {
        margin-top: 150px;
        font-size: 18px;
    }

    .seccion-tarjetas p {
        font-size: 15px;
    }

    .n-container {
        grid-template-rows: 250px 2600px 150px;
    }

    .n-seccion-tarjetas {
        width: 410px;
        height: 300px;
    }

    .n-seccion-tarjetas p {
        font-size: 14px;
    }

    .n-texto h2 {
        font-size: 17px;
    }
}

@media screen and (max-width: 570px) {
    .n-container {
        grid-template-rows: 250px 2570px 170px;
    }

    .n-main {
        gap: 33px;
    }

    .n-seccion-tarjetas {
        width: 320px;
    }

    .foto {
        width: 160px;
        height: 210px;
    }

    .foto2 {
        width: 160px;
        height: 210px;
    }

    .datos-mapa iframe {
        width: 370px;
    }

    .s-container {
        grid-template-rows: 58px 5550px 170px;
    }

    .s-main section {
        width: 374px;
        height: 1773px;
    }

    .s-descripcion-tarjeta h2 {
        font-size: 1.3em;
    }

    .s-linea p {
        font-size: 12px;
    }


}

@media screen and (max-width: 500px) {

    .tarjeta1,
    .tarjeta2 {
        width: 350px;
    }

    .foto-encima {
        width: 300px;
        height: 180px;
    }

    .titulo-tarjeta {
        margin-top: 140px;
        font-size: 16px;
    }

    .seccion-tarjetas p {
        font-size: 14px;
    }

    .rrss {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .frase-footer {
        font-size: 30px;
    }

    .titulo-eslogan {
        padding-top: 64px;
    }

    .usuario-opciones {
        flex-direction: column;
    }

    .img-usuario {
        width: 140px;
        height: 133px;
        margin: 10px 15px 0px 15px;
    }

    .usuario-opciones div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nombre-usuario {
        font-size: 20px;
    }

    .usuario-opciones div p {
        font-size: 15px;

    }
}